/* HEADER */



header {
    background-image: url(https://i.postimg.cc/vZ8VsQqr/z25618612-IFR-Galanteria-meska.jpg);
    
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }
